{% extends "base-report.html" %}
{% block content %}
	{% include "htmlSections/file_information.html" %}
	{% if results.Info.file.family|length > 0 %}
		{% include "htmlSections/family.html" %}
	{% endif %}
	{% include "htmlSections/source_information.html" %}
	{% include "htmlSections/own_location.html" %}
	{% include "htmlSections/antivirus.html" %}
	{% include "htmlSections/yara.html" %}
<div style="text-align: right;margin-top: 10px;"><a href="#top"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAEGSURBVDjLpZM/LwRRFMXPspmEaGc1shHRaiXsJ5GIRixbCr6SikxIlqgJM5UohIiGdofovHf/PZVmYwZvTntPfjnn3txWCAFNNFE33L/ZKXYv+1dRgL3r7bu0PbucJp3e4GLjtsrXGq9wkA8SU7tPk87i/MwCzAyP5QNeytcnJl46XMuoNoGKDoVlTkQhJpAgmJqcBjnqkqPTXxN8qz9cD6vdHtQMxXOBt49y5XjzLB/3tau6kWewKiwoRu8jZFvn+U++GgCBlWFBQY4qr1ANcAQxgQaFjwH4TwYrQ5skYBOYKbzjiASOwCrNd2BBwZ4jAcowGJgkAuAZ2dEJhAUqij//wn/1BesSumImTttSAAAAAElFTkSuQmCC" alt="^" title="Go to the top" border="0"></a></div>
</div>
<tag id="static_analysis">
<div class="section">
<div class="section-title">Static Analysis</div>
	{% include "htmlSections/office.html" %}
	{% include "htmlSections/rtf.html" %}
	{% include "htmlSections/pdf.html" %}
	{% include "htmlSections/subfile.html" %}
	{% include "htmlSections/pe.html" %}
    {% include "htmlSections/network_analysis.html" %}
    {% include "htmlSections/other.html" %}
{% endblock %}